/*
  This code created by Luke Irvine Developments
  
  Copyright 2023. All Rights Reserved.
  
  Created By: Luke Irvine
  
  Homepage.module.css
*/

.header {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.loadingContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 300px;
}

/* Screen size specs */

@media only screen and (max-width: 576px) {
}


@media only screen and (min-width: 576px) {
}


@media only screen and (min-width: 767px) {
}


@media only screen and (min-width: 992px) {
}


@media only screen and (min-width: 1200px) {
}
